<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" type="image.png" href="../static/img/logo.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <title>Document</title>
</head>
<body>

  <i class="bi bi-list menu-mobile"></i>
    <aside id="header">
        <section class="profile">
            <img src="../static/img/perfil.jpg" alt="Foto do Wagner">
            <h1>Wagner Gabriel</h1>
            
            <div class="social-links mt-4  text-center">
                 <a target="_blank" href="https://www.facebook.com/wagner.gabriel.9256/">
                <i class="bi bi-facebook"></i>
             </a>
                <a target="_blank" href="https://github.com/WagnerGabrielMartiresSilva">
                <i class="bi bi-github"></i>
             </a>
                <a target="_blank"href="https://www.instagram.com/wagnermartires/">
                <i class="bi bi-instagram"></i>
             </a>
                <a target="_blank" href="https://www.linkedin.com/in/wagner-martires-silva-030626194/">
                <i class="bi bi-linkedin"></i>
             </a>
            </div>
        </section>

        <nav id="navbar" class="nav-menu">
            <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page"
                   href="#inicio"><i class="bi bi-house" aria-hidden="true"></i>Inicio</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#sobre"><i class="bi bi-person"aria-hidden="true"></i></i> Sobre</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#habilidades"><i class="bi bi-list-check" aria-hidden="true"></i>Habilidades</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#curriculo"><i class="bi bi-file-earmark" aria-hidden="true"></i>Currículo</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#portfolio"><i class="bi bi-collection" aria-hidden="true"></i>Portfólio</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#contato"><i class="bi bi-envelope" aria-hidden="true"></i>Contato</a>
                  </li>
                      
                
              </ul>
        </nav>

    </aside>

 <main id="main">
      
      <section id="inicio" class="row m-0 p-0">
        <div class="col-md-5 d-flex justify-content-center align-items-center flex-column">

          <h2 class="text-white text-shadow">Wagner Gabriel</h2>
          <span id="subtitle" class="text-white  text-shadow ">Estudante e instrutor </span>
        </div>

        <div class="col-md-7 d-flex justify-content-end align-items-end">
         
            <div id="arraste" class="d-flex align-items-center">
              <i class="bi bi-arrow-down text-white pe-2 fs-2"arial-hidden="true"></i>
              <a href="#sobre">Arraste pra mais</a>
           </div>
        
        </div>
      </section>

      <section class="container mt-5"   id="sobre">
          <div class="row w-100">

            <div class="col md-12">
              <h2 class="pt-3"> Sobre </h2>
                <p>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print,
                   graphic or web designs. The passage is attributed to an unknown typesetter in the 15th century who is
                   thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a type specimen book.
                    It usually begins with.
                    The purpose of lorem ipsum is to create a natural looking block of text (sentence, paragraph, page, etc.)
                that doesn't distract from the layout. A practice not without controversy, laying out pages with meaningless
                 filler textcan be very useful when the focus is meant to be on design, not content.
                </p>

            </div>

          </div>

          <div class="row mt-4">
              <div class="col-md-4">
                 <img class="img-fluid shadow" src="../static/img/perfil.jpg" alt="Foto do Wagner">
             </div>
             <div class="col-md-8">
               <h3>Instrutor de informática</h3>
                <p>Atualmente dando aula para jovens alunos  em uma instituição escolar no Recreio
                 e criando planilhas para revendedores de produtos</p>
              <div class="row mt-3 mb-4">
                <div class="col-md-6">
                    <ul class="list-group list-group-flush fs-5">
                        <li class="list-group-item">
                            Niver: <span class="fw-lighter">16 de Junho de 1992</span>
                        </li>
                        <li class="list-group-item">
                          Idade: <span class="fw-lighter">29 anos</span>
                        </li>
                        <li class="list-group-item">
                          Cidade: <span class="fw-lighter">Rio de Janeiro</span>
                        </li>
                        <li class="list-group-item">
                          Estado: <span class="fw-lighter">Rio de Janeiro</span>
                        </li>
                       
                    </ul>
                </div>
                <div class="col-md-6">
                    <ul class="list-group list-group-flush fs-5">
                        <li class="list-group-item">
                         Hobby: <span class="fw-lighter">Futebol</span>
                        </li>
                        <li class="list-group-item">
                          Site: <a href="https://profwagner.epizy.com" 
                          target= "_blank"
                          class="fw-lighter
                           text-decoration-none link-dark">Links.profwagner</a>
                        </li>
                        <li class="list-group-item">
                         Experiência: <span class="fw-lighter">+ de 5 anos</span>
                        </li>
                        <li class="list-group-item">
                         Cargo: <span class="fw-lighter">Instrutor de informática</span>
                        </li>
                        
                    </ul>
              </div>
            </div>
                <p>Atualmente dando aula para jovens alunos  em uma instituição escolar no Recreio
                e criando planilhas para revendedores de produtos</p>
         </div>
      </div>
      </section>

      <section class="mt-5 section-bg" id="habilidades">
        <div class="container pb-5">
          <h2 class="pt-5">Habilidades</h2>
          <p>Em todo como instrutor de tecnologia adquiri algumas habilidades técnicas como
            pode ver na porcentagem abaixo
          </p>
            
          <div class="row">
              <div class="col-md-6">
                 <p class="mt-3 mb-0">HTML</p>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" style="width:
                   80%;" aria-valuenow="80" 
                   aria-valuemin="0" aria-valuemax="100">80%</div>
                </div>
                  <p class="mt-3 mb-0">CSS</p>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" style="width:
                   65%;" aria-valuenow="65" 
                   aria-valuemin="0" aria-valuemax="100">65%</div>
                </div>
                  <p class="mt-3 mb-0">PYTHON</p>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width:
                    60%;" aria-valuenow="60" 
                    aria-valuemin="0" aria-valuemax="100">60%</div>
                  </div>
                   <p class="mt-3 mb-0">WORDPRESSS</p>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width:
                      55%;" aria-valuenow="55" 
                      aria-valuemin="0" aria-valuemax="100">55%</div>
                  </div>
                  <p class="mt-3 mb-0">JAVASCRIPT</p>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width:
                    40%;" aria-valuenow="40" 
                    aria-valuemin="0" aria-valuemax="100">40%</div>
                  </div>
                  <p class="mt-3 mb-0">JAVA</p>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width:
                    40%;" aria-valuenow="40" 
                    aria-valuemin="0" aria-valuemax="100">40%</div>
                  </div>
                
              </div>
              
              <div class="col-md-6">
                <p class="mt-3 mb-0">FLASK</p>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width:
                    45%;" aria-valuenow="45" 
                    aria-valuemin="0" aria-valuemax="100">45%</div>
                  </div>
                  <p class="mt-3 mb-0">DJANGO</p>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width:
                    45%;" aria-valuenow="45" 
                    aria-valuemin="0" aria-valuemax="100">45%</div>
                  </div>
                  <p class="mt-3 mb-0">c#</p>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width:
                    55%;" aria-valuenow="55" 
                    aria-valuemin="0" aria-valuemax="100">55%</div>
              </div>
              <p class="mt-3 mb-0">SQL</p>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width:
                    58%;" aria-valuenow="58" 
                    aria-valuemin="0" aria-valuemax="100">58%</div>
              </div>
              <p class="mt-3 mb-0">MYSQL</p>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width:
                    55%;" aria-valuenow="55" 
                    aria-valuemin="0" aria-valuemax="100">55%</div>
              </div>
              <p class="mt-3 mb-0">GITHUB</p>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width:
                40%;" aria-valuenow="40" 
                aria-valuemin="0" aria-valuemax="100">40%</div>
              </div>
            </div>
        </div>
          <hr class="w-50 me-auto ms-auto">
          <div class="row">
            <div class="col-md-6">
              <p class="mt-3 mb-0">Comprometimento</p>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width:
                 98%;" aria-valuenow="98" 
                 aria-valuemin="0" aria-valuemax="100">98%</div>
              </div>
              <p class="mt-3 mb-0">Proatividade</p>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width:
                 95%;" aria-valuenow="95" 
                 aria-valuemin="0" aria-valuemax="100">95%</div>
              </div>
              <p class="mt-3 mb-0">Empatia</p>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width:
                 85%;" aria-valuenow="85" 
                 aria-valuemin="0" aria-valuemax="100">85%</div>
              </div>
              <p class="mt-3 mb-0">Trabalho em equipe</p>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width:
                 92%;" aria-valuenow="92" 
                 aria-valuemin="0" aria-valuemax="100">92%</div>
              </div>
            </div>
            <div class="col-md-6">
              <p class="mt-3 mb-0">Comunicação</p>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width:
                 92%;" aria-valuenow="92" 
                 aria-valuemin="0" aria-valuemax="100">92%</div>
              </div>
              <p class="mt-3 mb-0">Habilidades de negociação</p>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width:
                 92%;" aria-valuenow="92" 
                 aria-valuemin="0" aria-valuemax="100">92%</div>
              </div>
              <p class="mt-3 mb-0">Perfil de liderança</p>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width:
                77%;" aria-valuenow="77" 
                 aria-valuemin="0" aria-valuemax="100">77%</div>
              </div>
              <p class="mt-3 mb-0">Busca por conhecimento</p>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width:
                97%;" aria-valuenow="97" 
                 aria-valuemin="0" aria-valuemax="100">97%</div>
              </div>
            </div>
          </div>
      </section>

      <section class="mt-5 cv" id="curriculo">

        <div class="container pb-5">
          <h2 class="pt-3 pb-4">Currículo</h2>
          
          <div class="row">
              <div class="col-md-6">
                <h3 class="cv-title">Educação</h3>
                
                <div class="cv-item">
                  <h4>Faculdade de analista de sistema</h4>
                  <h5>2012 - 2015</h5>
                  <p><em>Faculdade São José</em></p>
                  <p>Graduação voltada para área de tecnologia da informação com aprendizado de linguagens
                    de programação e infraestrutura</p>
                                            
                </div>

                <div class="cv-item">
                  <h4>Tecnologia da informação</h4>
                  <h5>2018 - 2019</h5>
                  <p><em>Instituição Senac</em></p>
                  <p>Curso técnico profissionalizante  para pessoas dispostas a entrar no mercado de trabalho
                    na área de TI</p>  

                </div>

                <div class="cv-item">
                  <h4>Instrutor de informática</h4>
                  <h5>2021 - 2022</h5>
                  <p><em>Instituição Codigo Kid</em></p>
                  <p>Aulas de linguagen de programação, Róbotica e reforço escolar para alunos de qualquer 
                    idade</p>
                </div>
              </div>
              <div class="col-md-6">
                <h3 class="cv-title">Profissional</h3>
                <div class="cv-item">
                  <h4>Instrutor de informática</h4>
                  <h5>2021 - 2022</h5>
                  <p><em>Instituição Codigo Kid</em></p>
                  <p>Aulas de linguagen de programação, Róbotica e reforço escolar para alunos de qualquer 
                    idade</p>

                </div>

                <div class="cv-item">
                  <h4>Programador</h4>
                  <h5>2021 - 2022</h5>
                  <p><em>Home -Office</em></p>
                  <p>Trabalha de programação para empresas</p>
                </div>

                <div class="cv-item">
                  <h4>Faculdade de analista de sistema</h4>
                  <h5>2012 - 2015</h5>
                  <p><em>Faculdade São José</em></p>
                  <p>Graduação voltada para área de tecnologia da informação com aprendizado de linguagens
                    de programação e infraestrutura</p>
                </div>
              </div>
          </div>
        </div>


      </section>

      <section id="portfolio" class="section-bg mt-5">
        <div class="container pb-5 pt-5">
          <h2 class="pb-4">Portfólio</h2>

          <div id="carouselPortfolio" class="carousel carousel-dark slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselPortfolio" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselPortfolio" data-bs-slide-to="1" aria-label="Slide 2"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active" data-bs-interval="10000">
                
                <div class="row row-cols-1 row-cols-md-3 g-4">
                 
                  <div class="col">
                    
                    <div class="card">
                      <img src="../static/img/282493.jpg" class="card-img-top img-fluid w-100" alt="ProfWagner">
                      <div class="card-body">
                        <h5 class="card-title">Projeto Wordpress</h5>
                        <p class="card-text">Portfolio do excelente Profissional de ti "Wagner Gabriel"</p>
                        <div class="d-flex justify-content-center">
                          <a href="https://profwagner.epizy.com/" target="_blank"
                          class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                        </div>
                      </div>
                    </div>
                 
                  </div>
                  <div class="col">
                    <div class="card">
                      <img src="../static/img/MON1154107.jpg" class="card-img-top img-fluid w-100" alt="BlogBasket">
                      <div class="card-body">
                        <h5 class="card-title">Liga juvenil</h5>
                        <p class="card-text">Blog sobre liga juvenil feminina de basket</p>
                        <div class="d-flex justify-content-center">
                          <a href="" target="_blank"
                          class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                        </div>       
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card">
                      <img src="../static/img/Estadio.jpg" class="card-img-top img-fluid w-100" alt="Jordam">
                      <div class="card-body">
                        <h5 class="card-title">Segunda casa do torcedor</h5>
                        <p class="card-text">Site sobre estádio e arredores do Pacaembu</p>
                        <div class="d-flex justify-content-center">
                          <a href="" target="_blank"
                          class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                        </div>       
                      </div>
                    </div>
                  </div>
                  
                </div>
                
              </div>
              <div class="carousel-item" data-bs-interval="2000">
                <div class="row row-cols-1 row-cols-md-3 g-4">
                  <div class="col">
                      <div class="card h-100">
                          <img src="../static/img/Microsoft-Power-BI.jpg" class="card-img-top img-fluid w-100"
                              alt="print do blog">
                          <div class="card-body">
                              <h5 class="card-title">Power-BI</h5>
                              <p class="card-text">Projeto planilhas power-bi com linguagem R
                                 </p>
                              <div class="d-flex justify-content-center">
                                  <a href="https://github.com/codethi/BlueMusicV2" target='_blank'
                                      class="btn btn-outline-dark me-3"><i class="bi bi-github"></i></a>
                                  <a href="https://appbluemusic.herokuapp.com/" target='_blank'
                                      class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                              </div>

                          </div>
                      </div>
                  </div>
                  <div class="col">
                      <div class="card h-100">
                          <img src="../static/img/timer.png" class="card-img-top img-fluid w-100"
                              alt="print do blog">
                          <div class="card-body">
                              <h5 class="card-title">Timer</h5>
                              <p class="card-text">Projeto front-end criado com HTML, CSS, Bootstrap e
                                  JavaScript,
                                  deploy realizado no Netlify</p>
                              <div class="d-flex justify-content-center">
                                  <a href="https://github.com/codethi/cronometro-intervalo"
                                      target='_blank' class="btn btn-outline-dark me-3"><i
                                          class="bi bi-github"></i></a>
                                  <a href="https://timer-break.netlify.app/" target='_blank'
                                      class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                              </div>

                          </div>
                      </div>
                  </div>
                  <div class="col">
                      <div class="card h-100">
                          <img src="../static/img/pagina-links.png" class="card-img-top img-fluid w-100"
                              alt="print do blog">
                          <div class="card-body">
                              <h5 class="card-title">Página de Links</h5>
                              <p class="card-text">Projeto front-end criado com HTML, CSS, Bootstrap e
                                  JavaScript,
                                  deploy realizado no Netlify</p>
                              <div class="d-flex justify-content-center">
                                  <a href="https://github.com/codethi/thi.code" target='_blank'
                                      class="btn btn-outline-dark me-3"><i class="bi bi-github"></i></a>
                                  <a href="https://thicode.netlify.app/" target='_blank'
                                      class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                              </div>

                          </div>
                      </div>
                  </div>
              </div>
          </div>

      </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>

        </div>

      </section>
 </main>


    <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/script.js"></script>
</body>
</html>